* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #F4A261;
    font-family: "Noto Sans", sans-serif;
}

main {
    max-width: 1024px;
    width: 100%;
    display: grid;
    grid-template-rows: repeat(4, 1fr);
    grid-template-columns: auto;
    width: 100vw;
    margin: 0 auto;
    gap: 2vw;
}

.header__brending {
    width: 100%;
    display: flex;
    align-items: center;
    background-color: #000000;
    gap: 2vw;
}

#logo {
    min-width: 20vw;
    height: 20vw;
}

h1 {
    font-size: 4.7vw;
    color: #ffffff;
    font-weight: 400;
}

.burger {
    width: 100%;
    background-color: #000000;
    height: 10vw;
}

.burger__toggle {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 13vw;
    height: 9vw;
    cursor: pointer;
    margin-left: 2vw;
    margin-bottom: 2vw;
}

.burger__span {
    display: block;
    height: 1.7vw;
    width: 100%;
    background-color: #ffffff;
    border-radius: 2px;
    transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
}

.burger__toggle.active > .burger__span:nth-child(1) {
    transform: rotate(45deg) translateY(15px);
}

.burger__toggle.active > .burger__span:nth-child(2) {
    opacity: 0;
}

.burger__toggle.active > .burger__span:nth-child(3) {
    transform: rotate(-45deg) translateY(-10px);
}

nav {
    display: flex;
    flex-direction: column;
    width: 25%;
    background-color: #000000;
    position: absolute;
    gap: 13px;
    padding: 7px;
    opacity: 0;
    transform: translateX(-120px);
    transition: transform 0.3s  ease-in-out;
    pointer-events: none;
}

nav.toggle {
    opacity: 1;
    transform: translateX(120px);
    pointer-events: auto;
}

nav > a {
    font-size: 5vw;
    text-align: center;
    text-decoration: none;
    color: #ffffff;
    cursor: pointer;
}

nav > a:hover {
    color: #e6ca7d;
}

aside {
    width: 100%;
    border-radius: 2vw;
    background-image: url(./img/man-and-system.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#right-aside {
    background-image: url(./img/man-and-system.jpg);
}

#left-aside {
    background-image: url(./img/micro.jpg);
}

section {
    grid-row: 1 / 2;
    text-align: center;
}

section > p {
    font-size: 4.5vw;
}

h2 {
    font-size: 6.5vw;
}

.services {
    text-align: start;
    margin-left: 3%;
    font-size: 5vw;
}

.services p{
    margin: 2vw;
}

.services img {
    width: 5vw;
    vertical-align: middle;
}

.services p:last-of-type{
    text-align: center;
}

article {
    display: flex;
    flex-direction: column;
    gap: 7vw;
}

.audio-block, .video-block {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    gap: 2vw;
    font-size: 5vw;
    font-weight: 600;
}

article audio,
article video {
    margin: 0 auto;
}

article audio {
    width: 90%;
    height: 30px;
}

article video {
    width: 80%;
    height: auto;
}

@media (min-width: 480px) {
    .burger__toggle.active > .burger__span:nth-child(1) {
        transform: rotate(45deg) translateY(20px);
    }

    .burger__toggle.active > .burger__span:nth-child(2) {
        opacity: 0;
    }

    .burger__toggle.active > .burger__span:nth-child(3) {
        transform: rotate(-45deg) translateY(-20px);
    }
}

@media (min-width: 768px) {
    .burger {
        display: none;
    }

    nav {
        display: flex;
        position: static;
        flex-direction: row;
        justify-content: space-around;
        background-color: #000000;
        padding: 7px;
        opacity: 1;
        width: 100%;
        transform: translateX(0);
        pointer-events: auto;
    }

    nav > a {
        font-size: 2vw;
        text-align: center;
    }

    nav > a:hover {
        color: #e6ca7d;
    }

    main {
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: auto;
    }

    #left-aside {
        grid-column: 1 / 2;
    }

    section {
        grid-column: 2 / 3;
    }

    article p{
        grid-column: 3 / 4;
        font-size: 1.5vw;
    }
    
    article audio {
        width: 100%;
        height: 20px;
    }

    article video {
        width: 100%;
        height: 130px;
    }

    #right-aside {
        grid-column: 4 / 5;
    }

    section > p {
        font-size: 1.5vw;
    }

    h2 {
        font-size: 2vw;
    }

    .services {
        text-align: start;
        margin-left: 3%;
        font-size: 1.5vw;
    }

    .services p{
        margin: 0.5vw;
    }
}

@media (min-width: 1024px) {
    .burger {
        display: none;
    }

    nav {
        display: flex;
        position: static;
        flex-direction: row;
        justify-content: space-around;
        background-color: #000000;
        padding: 7px;
        opacity: 1;
        width: 100%;
        transform: translateX(0);
    }

    nav > a {
        font-size: 2vw;
        text-align: center;
    }

    nav > a:hover {
        color: #e6ca7d;
    }

    main {
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: auto;
    }

    #left-aside {
        grid-column: 1 / 2;
    }

    section {
        grid-column: 2 / 3;
    }

    article p{
        grid-column: 3 / 4;
        font-size: 1.5vw;
    }
    
    article audio {
        width: 100%;
        height: 20px;
    }

    article video {
        width: 100%;
        height: 130px;
    }

    #right-aside {
        grid-column: 4 / 5;
    }

    section > p {
        font-size: 1.5vw;
    }

    h2 {
        font-size: 2vw;
    }

    .services {
        text-align: start;
        margin-left: 3%;
        font-size: 1.5vw;
    }

    .services img {
        width: 2.5vw;
    }

    .services p{
        margin: 0.5vw;
    }
}